.bubble-menu {
    display: flex;
    gap: 0.5rem;
    background-color: #0D0D0D;
    padding: 0.5rem;
    border-radius: 0.5rem;

    // the bubble menu buttons
    button {
        border: none;
        background: none;
        color: #bb0707;
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        cursor: pointer;
        border-radius: 0.25rem;

        &:hover {
            background-color: #2D2D2D;
        }

        &.is-active {
            background-color: #1F1F1F;
        }
    }
}

.editor-wrapper {
    position: relative;
    background: red;
}